$primaryColor : rgb(135,48,13);
$secondaryColor: white;

body{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0%;
}
body h3{
    font-size: 1.7rem;
    margin: 1rem 0;
    padding: 1.5rem 0;
}
body h4{
    font-size: 1.2rem;
    margin: 1rem 0%;
}
body span{
    color: lightgray;
    padding: 1rem 0ñ
}
body aside{
    width: 80%;
    background-color: $primaryColor;
    color: $secondaryColor;
    padding: 2rem;
}
aside div{
    text-align: center;
}
body p{
    margin: 1rem 0%;
}
aside div img{
    width: 8rem;
    border-radius: 50%;
}
aside div h1{
    font-size: 2rem;
}
aside div h2{
    font-weight: 100;
    font-size: 1.5rem;
}
aside div hr{
    margin: 4rem;
}
aside ul{
    padding:1rem 0%;
    margin: 0%;
}
aside ul li{
    padding: 0.5rem 0;
}
aside ul li a{
    color: $secondaryColor;
}
main{
    padding: 3rem;
    line-height: 2rem;
}
//mobile
@media(max-width:768px){
    body{
        display: flex;
        flex-direction: column;
    }
    body aside{
        width: 140%;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
    }
    body aside #detail{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    body aside #detail ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    body aside #link{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    body aside #link ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    body aside #skill{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    body aside #skill ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    body aside #language{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    body aside #language ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    body main{
        width: 100%;
    }

}

